
.container2{
    background-color: aqua;
    margin: 20px;
    padding: 4px;
    height: 50px;
    width: 40px;
}

.container{
    background-color: blue;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container2 a{
    position: relative;
    top: 15px;
}