.img1{
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
}

.p1{
    background-color: chartreuse;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    overflow: auto;
}

.img2{
    width: 100px;
    height: auto;
    float: left;
}

.p3{
    background-color: cadetblue;
    float: left;
    border: 2px solid red;
}

body{
    text-align: center;
}

div{
    display: inline-block;
}

.p2{
    clear: left;
}












/* .box1{
    background-color: aquamarine;
    width: 25%;
    height: 15%;
    position: absolute;
    z-index: 2;
}
.box2{
    background-color: rgb(212, 29, 29);
    width: 25%;
    height: 15%;
    position: absolute;
    margin: 50px;
    z-index: 3;
}
.box3{
    background-color: rgb(141, 133, 251);
    width: 25%;
    height: 15%;
    position: absolute;
    margin: 80px;
    z-index: -1;
} */

