body{
    background-color: gold;

}

h1{
    background-color: darkred;
    color: azure;
    margin: 30px;
}

#div-parent{
    border: 5px solid black;
    width: 900px;
    height: 900px;
    text-align: center;
}

#p1{
    border: 5px solid green;
    outline: 30px groove rgba(0, 0, 255, 0.478);
    outline-offset: 10px;
}


.div1{
    background-color: rgb(128, 192, 130);
    width: initial;
    height: initial;
    text-align: right;
    padding: 30px;
    margin: 50px;
   
}

.div2{
    background-color: tomato;
    width: 600px;
    height: 300px;
    margin-left: 5px;
    text-align: justify;

}

.div3{
    border: 10px solid red;
    margin: 10px;
    width: 300px;
    height: 300px;

}

#one{
    text-align: right;
    text-decoration: dotted overline;
    text-decoration-color: black;
    text-transform: uppercase;
    letter-spacing: 20px;
    text-shadow: 5px 5px rgb(149, 149, 194);
    
}

#two{
    text-align: left;
    text-decoration: double overline underline;
    text-transform: lowercase;
}

#three{
    text-align: center;
    direction: rtl;
    text-decoration: line-through;
    text-transform: capitalize;
}